@media screen {
    body{
        background-color: #fefcff !important;
        font-family: 'Open Sans Condensed', sans-serif !important;
    }
    .col-md-2-height div{
        height: 150px;
    }
    .row div{
        padding: 10px;
        border: 1px solid black;
        height: auto;
        border-collapse: separate;
        border-spacing: 7px 11px;
    }
    .viewerror{
        margin-top: 4%;
    }
    .pagenotfound{
        margin-left: 20%;
        margin-top: 20%;
    }
    .reporttitle{
        text-align: center;
    }
    .navbar-center{
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin: auto;
    }
    .text-margin{
        margin-top: 20%;
    }
    .input {
        margin: 0px auto ;
        padding : 10px;
        display: inline;
        width: 390px;
        text-align: center;
    }
    .withoutunderline{
    text-decoration: none !important;
    }
    .navbar-default{
        background-color: #DDC8C4 !important;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 50px;
        background-color: #896A67;

    }
    .blackfont{
        color: #000000;
    }
    .btn-green{

        color: #fff;
        background-color: #69995D;
        border-color: #65905a !important;
        font-weight: bold !important;
    }

}