@(user: User)
@import helper._

@main(Messages("application Key")){



@form(routes.Application.apiKeyGenerator()) {
    <fieldset>
        <div class="text-margin text-center">
        <div class="h1 text-capitalize"><Strong>application Key</Strong> for <Strong>@user.applicationName</Strong></div>
        <p>
           <input class="h4 input form-control"  readonly name="appKey" value="@user.appKey">
        </p>
        <button class="btn  btn-danger" type="submit"> Generate new key </button>
        </div>
</fieldset>
}
}
