@(user: User)
@import helper._

@main(Messages("Информация")){


        <div class="text-center text-margin" >

            <h1>@Messages("Информация о приложении")</h1>
            <fieldset>
            @form(routes.Application.applicationProfileEdit()) {
                <br>
                <div class="h4">@Messages("Название приложения") </div>
                <p>
                    <input class="input form-control" type="text" name="applicationName" value="@user.applicationName">
                </p>
                <br>
                <div class="h4">@Messages("Описание приложения") </div>

                <p>
                    <input class="input form-control" type="text" name="description" value="@user.description">
                </p>
                <br>

                <button class="btn btn-primary" type="submit"> @Messages("Сохранить изменения") </button>
            }
            </fieldset>
        </div>




    }