
@main("Настройки") {
    <head>
    <style>

    </style>
    </head>
    <body>

            <p style="margin: 10%; text-align: center"><strong>Настройки для @request.username</strong></p>


                <div class="container ">


                    <table class="table table-hover">

                        <thead>
                            <tr>
                                <th><span style="font-size: xx-large">Настройки:</span></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td><a href="@routes.Application.index()" onclick="throwSampleError()" class="withoutunderline blackfont text-muted">
                                    <strong>@Messages("Сгенерировать тестовое исключение")</strong></a></td></tr>
                            <tr>
                                <td><a href="@routes.Application.applicationKeyPage()" class="withoutunderline blackfont text-muted"><strong>@Messages("Application Key")</strong></a></td>
                            </tr>
                            <tr>
                                <td><a href="@routes.Application.applicationProfilePage()" class="withoutunderline blackfont text-muted"><strong>@Messages("Информация о приложении")</strong></a></td>
                            </tr>
                            <tr>
                                <td><a href="@routes.Application.userProfilePage()" class="withoutunderline blackfont text-muted"><strong>@Messages("Изменить пароль")</strong></a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>



    </body>

}