@(user: User)

@import helper._


@main(Messages("playauthenticate.change.password.title")) {

    <h1>@Messages("playauthenticate.change.password.title")</h1>
    <p>
    @form(routes.Application.userProfileEdit) {

    <p>
        <input type="text" name="oldPass" placeholder="oldPassword">
    </p>
    <p>
        <input type="text" name="newPass" placeholder="new password">
    </p>
    <p>
        <input type="text" name="rePass" placeholder="re:">
    </p>


    <button type="submit" class="btn btn-default">playauthenticate.change.password.cta</button>
}

}
