@(userForm: Form[User])
@import helper._

@main("Регистрация нового пользователя") {



    <html>
        <body>

        @helper.form(action = routes.Application.addNewApplication()) {

            <div class="alert-danger"><p>Добавить кнопку пропустить</p></div>

            <div class="text-center text-margin">


                <div class="h2">@Messages("Назовите ваше приложение: ")</div>
                <p>
                    <input class="input form-control" name="applicationName" >
                </p>

                <br>
                <div class="h2">@Messages("Опишите ваше приложение: ")</div>
                <p>
                    <textarea class="input form-control" name="description"></textarea>
                </p>
                <br>
                <button class="btn btn-danger" type="submit"><a href="@routes.Application.index()" style="color: #ffffff; text-decoration: none">Пропустить</a></button>
                <button class="btn btn-primary" type="submit">@Messages("Продолжить")</button>


            </div>
        </body>
        }
    </html>
}