@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo List"){


<body>



@if( tasks.size == 0){
<H1 class="reporttitle">You have no reports yet</H1>
}else {
<H1 class="reporttitle">You have @tasks.size() reports</H1>
}

<div class="col-md-offset-2">
<h1 class="reporttitle">Add a new task</h1>
<table class="table table-considered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @form(routes.Application.newTask()){
        <tr>
            <th>Name</th>
            <td >
                @inputText(taskForm("label"))
            </td>
        </tr>
        <tr>
            <th>Type of Error</th>
            <td>
                @inputText(taskForm("typeError"))
            </td>
        </tr>
        <tr>
            <th>Category</th>
            <td>
                @inputText(taskForm("categoryError"))
            </td>
        </tr>
        <tr>
            <th>File</th>
            <td>
                @inputText(taskForm("fileError"))
            </td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>
                @inputText(taskForm("commentError"))
            </td>
        </tr>
        <tr>
            <th>Create</th>
            <td>
                <input type="submit" value="Create">
            </td>
        </tr>
        }
    </tbody>
</table>
</div>



</body>
}