@(reports: java.util.List[ErrorReportModel])

@import helper._
@main("Журнал ошибок") {

    <body>


        @if(reports.size() == 0) {
            <H1 class="reporttitle">Журнал пуст</H1>
        } else {
            <H1 class="reporttitle"> Показано @reports.size() отчётов об ошибках для @request.username</H1>
        }
        <div >
            <table class="table table-condensed table-striped table-hover">

                <thead>
                    <tr>
                        <th>Сообщение</th>
                        <th>Дата последнего сообщения</th>
                        <th>Число срабатываний</th>
                    </tr>
                </thead>
                <tbody>
                @for(report <- reports) {
                    <tr>
                        <td>
                            <a href="@routes.Application.errors(report.id)">@report.message</a>
                        </td>
                        <td>
                            <a href="@routes.Application.errors(report.id)">@report.date</a>

                        </td>
                        <td>
                        <a href="@routes.Application.errors(report.id)">@reports.size()</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </body>
}