@(reports: java.util.List[ErrorReportModel])
@import helper._
@main("Журнал ошибок") {

    <body>


        @if(reports.size() == 0) {
            <h1 class="reporttitle">Журнал пуст для @request.username</h1>
        }
        @if(reports.size() == 1) {
            <h1 class="reporttitle">Показан 1 отчет об ошибке для @request.username</h1>
        }
        @if(reports.size() == 4 || reports.size() == 3 || reports.size() == 2){
            <h1 class="reporttitle">Показаны @reports.size() отчета об ошибках для @request.username</h1>
        }
        @if(reports.size() >= 5){
            <h1 class="reporttitle"> Показано @reports.size() отчётов об ошибках для @request.username</h1>
        }
        @flash.get("success")

        <div class="panel-body">
            <table class="table table-condensed table-striped table-hover">

                <thead>
                    <tr>
                        <th>Сообщение</th>
                        <th>Дата последнего сообщения</th>
                        <th>Число срабатываний</th>
                    </tr>
                </thead>
                <tbody>

                @for(report <- reports) {
                    <tr>
                        <td>
                            <a href="@routes.Application.errors(report.id)">@report.message</a>
                        </td>
                        <td>
                            <a href="@routes.Application.errors(report.id)">@report.date</a>

                        </td>
                        <td>
                        <a href="@routes.Application.errors(report.id)">@report.happens</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </body>
}