@(form: Form[Application.Login])


    @main(title = "RTF ERROR-TRACKER"){

        <body>
            <div class="text-center text-margin">

                <h1 class="page-header">Вход</h1>

                @helper.form(routes.Application.authenticate()){
                    <div class="">
                        <p>
                            <input class="input form-control" type="email" name="email" placeholder="Email" value="@form("email").value">
                        </p>
                        <p>
                            <input class="input form-control" type="password" name="password" placeholder="Password">
                        </p>
                    </div>

                    @if(form.hasGlobalErrors) {
                        <div class="alert-link h4" style="color: red">
                        @form.globalError.message
                        </div>
                    }
                    <p>
                        <button class="btn btn-primary" type="submit">@Messages("Войти")</button>
                    </p>

                }

            </div>
        </body>
    }