@(registerForm: Form[User])
@import helper._

@main("Регистрация нового пользователя") {
<html>

    <body>

    @helper.form(routes.Application.newUser()) {
        <div class="text-center text-margin">
            <H1 class="page-header">Регистрация</H1>
            <div style="margin-top: 50px">
                <p>
                    <input class="input form-control" type="email" name="email" placeholder="Email" >
                </p>
    
                <p>
                    <input class="input form-control" type="password" name="password" placeholder="Пароль" >
                </p>

                <p>
                    <input class="input form-control" type="password" name="confirmPassword" placeholder="Пароль еще раз">
                </p>
                <div class="menu-item-radio">
                @helper.inputRadioGroup(registerForm("lang"),
                    options = options("rus"->"Русский", "eng"->"English"),
                    '_label -> "Выберите язык: "
                )
                    </div>
                @if(registerForm.hasGlobalErrors) {
                    <div class="error" style="color: red">
                    @registerForm.globalError.message
                    </div>
                }
                <p>
                    <button class="btn btn-primary" type="submit">@Messages("Зарегистрироваться")</button>
                </p>
            </div>
            }
        </div>
        }
    </body>
</html>